@import '../style-all.scss';
@import url('../../fonts/icon_style.css');


// Catalogs seyfesinin scss


.all-bks {
    padding-top: 8.8rem;


    nav.nav-all-books {
        align-items: center;
        margin-bottom: 3.8rem;
        h2 {
            font-size: 1.5625rem;
            font-weight: 900;
            flex-basis: 30%;
        }
        ul {
            column-gap: 2.5rem;
            li {
                a {
                    color: $dark;
                    font-size: 0.8125rem;
                    &.active {
                        color: $col2;
                    }
                }
            }
        }
    }


    .ourStyle_books {
        .all-books-slider {
            padding: 1rem;
        }

        .swiper-button-next {
            right: -2rem !important;
            &::after {
                color: $dark;
            }
        }
        .swiper-button-prev {
            left: -2rem !important;
            &::after {
                color: $dark;
            }
        }
        .target-book {
            display: flex;
            flex-direction: column;

            width: 100%;
            height: 20.75rem;
            box-shadow: $bx-shadow;
            padding: 1.5rem 1.5rem 1rem;
            
            .picture {
                width: 100%;
                height: 12rem;
                overflow: hidden;
                margin-bottom: 2rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h4.title {
                font-weight: 700;
                font-size: 0.875rem;
                text-align: center;
                color: $dark;
                margin-bottom: 0.6rem;
                height: 44px;
                overflow: hidden;
            }
            p.auther {
                font-size: 0.75rem;
                font-weight: 400;
                margin-bottom: 1rem;
                height: 17px;
                overflow: hidden;
            }
            a.btn {
                background-color: $col2;
                border: none;
                width: 100%;
                box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
                border-radius: 0.1875rem;
                padding: 0.6rem 0;
                color: #fff;
                font-weight: 900;
                font-size: 0.75rem;
                text-transform: uppercase;
                text-align: center;
            }
        }

        &.catalog_books {
            margin-top: 8rem;
            h2.titleBlock_catalogName {
                margin-bottom: 3rem;
                font-size: 1.5625rem;
                font-weight: 900;
                text-align: center;
            }
        }
    }


}


@media  (max-width: 768px) {
    .all-bks nav.nav-all-books {
        flex-wrap: wrap;
        width: 100%;
        h2 {
            flex-basis: 100%;
            margin-bottom: 0.5rem;
        }
    }
}