@import url(../fonts/icon_style.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: 0;
  z-index: 1;
}

input {
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1240px;
  display: block;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.wrapper {
  z-index: 2;
}

header {
  padding: 15px 0;
}
header .flex {
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 2.625rem;
}
header .logo a img {
  max-height: 100%;
}
header nav ul {
  -moz-column-gap: 1.3125rem;
       column-gap: 1.3125rem;
}
header nav ul li a {
  color: #241400;
  font-size: 0.8rem;
}
header nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #E16A00;
  transition: all 0.8s;
}
header nav ul li a.active {
  color: #E16A00;
  font-weight: 700;
}
header nav ul li a.active::before {
  width: 100%;
}
header nav ul li a:hover::before {
  width: 100%;
}
header .joinus a {
  color: #241400;
}
header .joinus a i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
header .joinus a span {
  font-size: 0.9rem;
}
header .joinus a:hover {
  color: #E16A00;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  z-index: 9;
}
.modal.modal-none {
  transform: translateY(9999px);
  visibility: hidden;
  opacity: 0;
}
.modal.modal-active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.modal .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal .modal-content {
  background-color: #fff;
  width: 100%;
  max-width: 675px;
  padding: 70px 55px 35px;
  z-index: 2;
}
.modal .modal-content h2 {
  text-align: center;
  font-size: 2.75rem;
  margin-bottom: 1.5rem;
}
.modal .modal-content form {
  width: 100%;
}
.modal .modal-content form label {
  display: block;
  margin-bottom: 1.1rem;
}
.modal .modal-content form label input {
  width: 100%;
  border: 1px solid #CECECE;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}
.modal .modal-content form label input:focus {
  border-color: #E16A00;
}
.modal .modal-content form button {
  margin-top: 3rem;
  width: 100%;
  background-color: #E16A00;
  text-align: center;
  padding: 1.5rem 0;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #391F00;
  color: #fff;
  font-size: 18px;
  padding: 4rem 0 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer > .container > .flex {
  justify-content: space-between;
}
footer .footer__menu > .flex {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
footer .footer__menu > .flex .menu__item h4 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.5rem;
}
footer .footer__menu > .flex .menu__item ul li {
  margin-bottom: 0.3rem;
}
footer .footer__menu > .flex .menu__item ul li a {
  color: #fff;
  font-size: 13px;
}
footer .footer__bottom {
  padding: 3rem 0 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 100;
}

body {
  background-color: #FFFAF5;
  width: 1600px;
  height: 2534px;
}
body .wrapper {
  width: 1272px;
  height: 431px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10em;
  margin: 196px 130px;
  background-color: #FFFAF5;
  position: relative;
}
body .wrapper .all-bks {
  width: 100%;
  height: 30em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
body .wrapper .all-bks .nav-all-books {
  background-color: #FFFAF5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .wrapper .all-bks .nav-all-books h2 {
  color: #241400;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
  margin-left: 2.5em;
}
body .wrapper .all-bks .nav-all-books ul {
  display: inline-flex;
  flex-direction: row;
  margin-right: 27em;
  justify-content: center;
  -moz-column-gap: 4em;
       column-gap: 4em;
  height: 26px;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}
body .wrapper .all-bks .nav-all-books ul li {
  color: #241400;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .all-bks .nav-all-books ul li a {
  color: #241400;
}
body .wrapper .all-bks .nav-all-books ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #E16A00;
  transition: all 0.8s;
}
body .wrapper .all-bks .nav-all-books ul li a:hover::before {
  width: 100%;
}
body .wrapper .all-bks .all-books {
  width: 100%;
  height: 45vh;
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
}
body .wrapper .all-bks .all-books .target-book {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .all-bks .all-books .target-book img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .all-bks .all-books .target-book1 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .all-bks .all-books .target-book1 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book1 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book1 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book1 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book1 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .all-bks .all-books .target-book2 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .all-bks .all-books .target-book2 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book2 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book2 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book2 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book2 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .all-bks .all-books .target-book3 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .all-bks .all-books .target-book3 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book3 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book3 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book3 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book3 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .all-bks .all-books .target-book4 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .all-bks .all-books .target-book4 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book4 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .all-bks .all-books .target-book4 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book4 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .all-bks .all-books .target-book4 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .bstsllr {
  width: 100%;
  height: 30em;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
  background-color: #FFFAF5;
}
body .wrapper .bstsllr .bestseller-title {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
}
body .wrapper .bstsllr .bestseller-title h2 {
  color: #241400;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books {
  width: 100%;
  height: 45vh;
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
}
body .wrapper .bstsllr .bestseller-books .target1-book {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .bstsllr .bestseller-books .target1-book img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target1-book .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target1-book .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target1-book p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target1-book .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .bstsllr .bestseller-books .target1-book1 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .bstsllr .bestseller-books .target1-book1 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target1-book1 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target1-book1 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target1-book1 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target1-book1 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .bstsllr .bestseller-books .target2-book2 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .bstsllr .bestseller-books .target2-book2 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target2-book2 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target2-book2 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target2-book2 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target2-book2 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .bstsllr .bestseller-books .target3-book3 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .bstsllr .bestseller-books .target3-book3 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target3-book3 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target3-book3 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target3-book3 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target3-book3 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .bstsllr .bestseller-books .target4-book4 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .bstsllr .bestseller-books .target4-book4 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target4-book4 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .bstsllr .bestseller-books .target4-book4 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target4-book4 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .bstsllr .bestseller-books .target4-book4 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .nw-rlase {
  width: 100%;
  height: 30em;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
  background-color: #FFFAF5;
}
body .wrapper .nw-rlase .relase-title {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
}
body .wrapper .nw-rlase .relase-title h2 {
  color: #241400;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books {
  width: 100%;
  height: 45vh;
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
}
body .wrapper .nw-rlase .relase-books .relase-book1 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .nw-rlase .relase-books .relase-book1 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book1 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book1 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book1 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book1 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .nw-rlase .relase-books .relase-book2 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .nw-rlase .relase-books .relase-book2 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book2 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book2 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book2 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book2 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .nw-rlase .relase-books .relase-book3 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .nw-rlase .relase-books .relase-book3 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book3 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book3 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book3 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book3 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .nw-rlase .relase-books .relase-book4 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .nw-rlase .relase-books .relase-book4 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book4 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book4 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book4 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book4 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .wrapper .nw-rlase .relase-books .relase-book5 {
  width: 184px;
  height: 332px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3em;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2em;
}
body .wrapper .nw-rlase .relase-books .relase-book5 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book5 .title {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
body .wrapper .nw-rlase .relase-books .relase-book5 .title p {
  display: flex;
  width: 113px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book5 p {
  display: flex;
  width: 136.233px;
  height: 9px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
body .wrapper .nw-rlase .relase-books .relase-book5 .btn {
  width: 136px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #E16A00;
  background: #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #FFFAF5;
}
body .follow {
  width: 353px;
  height: 151px;
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .follow h2 {
  color: #241400;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
}
body .follow .link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70%;
}
body .follow .link img {
  width: 78px;
  height: 78px;
  flex-shrink: 0;
}/*# sourceMappingURL=style-catalogs.css.map */