#adminPages {
    .pagesHeader {
        justify-content: space-between;
        margin-bottom: 2rem;
        color: #fff;
        a.addBtn {
            color: #fff;
            font-weight: 700;
            background-color: rgba(#000, .2);
            border: 2px solid #fff;
            border-radius: 1rem;
            text-align: center;
            padding: 0.4rem 1rem;
        }
    }


    .newBooks {
        flex-wrap: wrap;
        column-gap: 3.2rem;
        row-gap: 2rem;
        height: 600px;
        overflow-y: scroll;
        padding-right: 15px;
        a.item__book {
          width: calc(25% - 2.5rem);
          color: #fff;
          .picture {
            height: 270px;
            width: 100%;
            overflow: hidden;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            border-radius: 1.5rem;
            margin-bottom: 1rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          h3 {
            padding-left: 0.5rem;
            margin-bottom: 0.3rem;
            font-size: 1rem;
          }
          p.auther {
            font-size: 0.8rem;
            padding-left: 0.5rem;
            opacity: 0.8;
          }
        }
      }

      
}

form.send {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label.inputStyle {
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
  span {
    position: absolute;
    left: 20px;
    top: -10px;
    color: #fff;
    text-transform: capitalize;
    background-color: #5E0E0D;
    z-index: 5;
    padding: 0 3px;
  }
  input, select {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: .8rem 1rem 0.8rem;
    color: #fff;
    &::placeholder {
        color: #fff;
        opacity: 0.4;
    }
  }
}

.submitBtn {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  border-radius: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  padding: .8rem 3rem;
  border: 1px solid rgba(255,255,255,.3);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 4rem;
  transition: all 0.5s;
  &:hover {
    background: linear-gradient(to left, #ff416c, #ff4b2b);
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,1);
  }

  &:disabled {
    opacity: 0.5;
    cursor: no-drop
  }
}

.pass-tehlukesizliyi {
  width: 100%;
  color: #fff;
  padding: 0 1rem;
  i.bar {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    height: 7px;
    border-radius: 10px;
    & > i {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 7px;
      border-radius: 10px;
      transition: all 1s;
      &.good {
        width: 100%;
        background: linear-gradient(to right,  rgba(255,0,0,1) 0%,rgba(206,161,0,1) 50%,rgba(31,188,0,1) 100%);
      }
      &.normal {
        background: linear-gradient(to right,  rgba(255,0,0,1) 0%,rgba(206,161,0,1) 100%);
        width: 66%;
      }
      &.bad {
        background: #ff0000;
        width: 27%;
      }
      & > i {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 0.9rem;
      }
    }
  }
}


.tableStyle {
  color: #fff;
  background-color: rgba(0,0,0,.15);
  thead {
    td {
      padding: 10px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #000;
      background-color: #fff;
      &:nth-child(2n) {
        background-color: #ccc;
      }
    }
    td {
      padding: 10px;
      color: #000;
      a {
        text-align: center;
        display: block;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 1.3rem;
        }
      }
      button {
        display: block;
        margin: 0 auto;
        border: none;
        padding: 10px;
        border-radius: 5px;
        &[data-option="true"] {
          background-color: rgba(64, 255, 0, 0.2);
          color: #444;
          &::before {
            content: 'Cavablandırılıb';
          }
        }
        &[data-option="false"] {
          background-color: rgba(255, 0, 0, 0.2);
          color: #444;
          &::before {
            content: 'Cavablandırılmayıb';
          }
        }
      }
    }
  }
}


.categoryAdd_content {
  display: none;
  h1 {
    color: #fff;
    margin-bottom: 3rem;
  }
  &.active {
    display: block;
  }
}
.categoryPage {
  display: none;
  &.active {
    display: block;
  }
  & > .flex {
    gap: 4rem;
    flex-wrap: wrap;
    width: 100%;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        .picture a {
          opacity: 1;
        }
      }
      .picture {
        width: 130px;
        height: 130px;
        overflow: hidden;
        border-radius: 100%;
        margin-bottom: .5rem;
        background-color: #fff;
        border: 7px solid #fff;
        box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        a {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 4;
          background-color: rgba(0,0,0,.4);
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          opacity: 0;
          transition: opacity .8s;
        }
      }
      .info {
        color: #fff;
        align-items: center;
        justify-content: space-between;
        column-gap: 5px;
        .books {
          column-gap: 3px;
        }
      }
    }
  }
}

.bookPage_all {
  display: none;
  &.active {
    display: block;
  }
}



.bookPageHeader {
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  .google_search {
    input {
      background: transparent;
      border: 1px solid rgba(255,255,255,.6);
      border-radius: 1.5rem;
      font-size: 1.2rem;
      padding: 5px 40px 5px 15px;
      color: #fff;
      &::placeholder {color: rgba(255,255,255,.5);}
      &:focus {
        border: 1px solid rgba(255,255,255,1);
      }
    }
    .searchList {
      position: absolute;
      right: 0;
      top: 110%;
      background-color: #fff;
      z-index: 10;
      padding: 10px;
      border-radius: 10px;
      width: 200%;
      height: 300px;
      display: none;
      overflow: hidden;
      ul {
        height: 300px;
        overflow-y: scroll;
        li {
          justify-content: flex-start;
          height: 100px;
          overflow: hidden;
          padding: 10px;
          margin-bottom: 15px;
          border-bottom: 1px solid #ccc;
          .picture {
            flex-basis: 90px;
            min-width: 90px;
            max-width: 90px;
            height: 100%;
            text-align: center;
            border: 1px solid #ccc;
            margin-right: 1rem;
            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }
          .name {
            flex-basis: 240px;
            font-size: 0.9rem;
            font-weight: 700;
            text-align: left;
          }
          .option {
            flex-basis: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            button {
              width: 30px;
              height: 30px;
              border: none;
              background: linear-gradient(to right, #ff416c, #ff4b2b);
              border-radius: 100%;
              text-align: center;
              font-size: 1.2rem;
              font-weight: 900;
              line-height: 15px;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}