$dark: #241400;
$col1: #391F00;
$col2: #E16A00;
$col3: #720418;
$bx-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);

@import url(../fonts/icon_style.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: 0;
    z-index: 1;
}
body {

background-color:  #720418;
display: flex;
flex-direction: column;
header {
.logo {
    width:282.59px;
    height:85.04px;
margin-top:74.96px;
margin-left:32px;
border:1px;
a img {
    max-height: 100%;
}

}
}
main{
    display :flex;
    justify-content: center;
    align-items: center;
       #admin_join{
       margin-top: 90px; 
  //      width: 662px;
        background-color: rgb(255, 255, 255);
        h1{
         font-family: Montserrat;
        font-size: 44px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        padding:20px;
        margin-top: 30px;
        
        
        }

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        width: 500px;
     //   height: 40px;
        padding: 15px;
        border: 1px solid black;
        margin:20px 50px 20px 50px;
        border-radius: 3px;
        font-family: Crimson Text;
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;}  
    button {
        width: 500px;
        //   height: 40px;
           padding: 20px;
           border: 1px solid black;
           margin:20px 50px 20px 50px;
           border-radius: 3px;
           font-family: Crimson Text;
           font-size: 19px;
           font-weight: 400;
           line-height: 25px;
           letter-spacing: 0em;
           text-align: left;
            margin-top:50px;
            text-align:center;
            background-color: #E16A00;
            color:white
        }
       

        .error_css{
            width: 500px;
          //  height: 80px;
            padding: 10px;
            margin-bottom: 10px;
                background-color: #e6c5e5;
            border-radius: 10px;
            font-family: Crimson Text;
        font-size: 19px;
        line-height: 25px;
        letter-spacing: 0em;
            
            }
        .great_css{
                width: 500px;
               // height: 80px;
                padding: 10px;
                margin-bottom: 10px;
                    background-color: #b4f89f;
                border-radius: 10px;
                font-family: Crimson Text;
            font-size: 19px;
            line-height: 25px;
            letter-spacing: 0em;
                
                }
    
    }

}
}

}