

body.adminLogin {
    margin: 0;
    padding: 0 15px;
    background-color: #720418;

    header {
        padding: 1rem;
        .logo {
            width: 282.59px;
            height: 85.04px;

            a img {
                max-height: 100%;
            }

        }
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 118px);

        #admin_join {
            width: 100%;
            max-width: 662px;
            background-color: rgb(255, 255, 255);

            h1 {
                font-family: Montserrat;
                font-size: 44px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: center;
                padding: 20px;
                margin-top: 30px;


            }

            form {
                padding: 0 3rem;
                box-sizing: border-box;

                input {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 15px;
                    border: 1px solid #CECECE;
                    font-size: 1.1875rem;
                    margin-bottom: 2rem;
                }

                button {
                    width: 100%;
                    border: none;
                    padding: 20px;
                    margin-top: 3rem;
                    border-radius: 3px;
                    font-family: Crimson Text;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 50px;
                    text-align: center;
                    background-color: #E16A00;
                    color: white
                }


                .error_css {
                 //   width: 100%;
                    padding: 10px;
                    background-color: #e6c5e5;
                    border-radius: 10px;
                    font-family: Crimson Text;
                    font-size: 19px;
                    line-height: 25px;
                    letter-spacing: 0em;
                    box-sizing: border-box;
                    margin: 1rem 0;
                    h2 {
                        margin: 0.5rem 0;
                    }
                }

                .great_css {
   
                    padding: 10px;
                    background-color: #b4f89f;
                    border-radius: 10px;
                    font-family: Crimson Text;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 0em;
                    box-sizing: border-box;
                    margin: 1rem 0;
                    h2 {
                        margin: 0.5rem 0;
                    }

                }

            }

        }
    }

}