.logo {
  display: flex;
}
.library {
  width: 170px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.admin {
  width: 197.974px;
  height: 18.224px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}
