@import url(/header&footer/logo.css);
body {
  background: #720418;
  height: 100vh;
}
.left-side {
  display: flex;
  margin: 75px, 35px, 0, 0;
}
.container-wellcome-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 662px;
  height: 544.311px;
  flex-shrink: 0;
  background: #fff;
  display: flex;
  justify-content: center;
}
.wellcome-to-admin {
  width: 404px;
  height: 81px;
  flex-shrink: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.forms {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
}
.input {
  width: 552.937px;
  height: 74.541px;
  flex-shrink: 0;
  border: 1px solid #cecece;
  background: #fff;
  padding-left: 50px;
}
.btn {
  width: 552.937px;
  height: 74.541px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #cecece;
  background: #e16a00;
  color: #fff;
  margin-top: 65px;
  color: #fff;
  text-align: center;
  font-family: Crimson Text;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.logo-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}
