$col1: #ff416c;
$col2: linear-gradient(to right, #ff416c, #ff4b2b);
$trs:  all 0.5s;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url(icon/style.css);
* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: 0;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s;
}
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #4a0c0c; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #861414; 
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #d01515;
}
a {
  color: #fff;
}
.flex {
  display: flex;
}
img {
  max-width: 100%;
}
body {
  background-color: #861414;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
}
.panel_v2 {
  width: calc(100vw - 6rem);
  background-color: rgba(#000, 0.3);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s;
}

#esas {
  height: 100%;
    #sidebar {
      width: 250px;
      border-right: 1px solid rgba(#fff, 0.3);
      padding: 1.5rem 1.5rem 3rem;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 5rem;

      ul.navigation {
        flex-direction: column;
        row-gap: 2rem;
        li {
          padding-left: 1rem;
          &.active {
            &::before {
              opacity: 1;
              width: 5.2rem;
            }
            &::after {
              content: '';
              position: absolute;
              left: -33px;
              bottom: -21px;
              border: 5px solid transparent;
              border-right: 6px solid #000;
              border-top: 6px solid #000;
              opacity: 0.6;
            }
            a {
              color: #fff;
            }
          }
          &::before {
            content: '';
            position: absolute;
            left: -2rem;
            top: -10px;
            width: 5.2rem;
            height: calc(100% + 20px);
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            background: $col2;
            opacity: 0;
          }
          a {
            color: #fff;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            span::before {
              font-size: 1.5rem;
              margin-right: 1rem;
            }
          }
        }
      }

      .logout {
        a {
          padding: .4rem 1rem;
          border-radius: 5rem;
          font-size: 1.1rem;
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }


    main {
      flex-basis: calc(100% - 250px);
      padding: 2rem 1.5rem 2rem 3rem;
        header {
          margin-bottom: 2rem;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          z-index: 8;
        
          nav {
            ul {
              column-gap: 2rem;
              li {
                a {
                  font-size: 0.8rem;
                  color: #fff;
                  opacity: 0.5;
                  &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -12px;
                    width: 7px;
                    height: 7px;
                    background: $col2;
                    border-radius: 100%;
                    transform: translateX(-50%);
                    opacity: 0;
                  }
                  &.active {
                    opacity: 1;
                    &::before {opacity: 1;}
                  }
                  &:hover {
                    opacity: 1;
                    transition: $trs;
                  }
                }
              }
            }
          }
          .search {
            form {
              input {
                border: 1px solid rgba(#fff, .3);
                border-radius: 2rem;
                background: transparent;
                padding: 0.4rem 1.5rem 0.4rem 2.5rem;
                font-size: 1.05rem;
                color: #fff;
                width: 400px;
                &:focus {
                  border-color: #fff;
                }
                &::placeholder {
                  color: #fff;
                }
              }

              span {
                position: absolute;
                left: 5px;
                top: 4px;
                font-size: 1.7rem;
                color: #fff;
               }
            }
          }
          .push {
            .push_icon {
              background: $col2;
              padding: 0.5rem 0.6rem;
              border-radius: 2rem;
              cursor: pointer;
              i {
                color: #fff;
                font-size: 1.5rem;
              }
              span {
                padding: 0.5rem;
                border-radius: 100%;
                width: 18px;
                height: 18px;
                position: absolute;
                right: -4px;
                top: -4px;
                background-color: #fff;
                font-size: 0.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .push__content {
              position: absolute;
              right: -10px;
              top: 60px;
              border-radius: 1rem;
              background-color: #fff;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
              z-index: 7;
              width: 450px;
              border: 3px solid $col1;
              display: none;
              overflow: hidden;
              max-height: 150px;
              &::before {
                content: '';
                position: absolute;
                right: 18px;
                top: -23px;
                border: 10px solid transparent;
                border-bottom: 10px solid $col1;
              }
              &.open {
                display: block;
              }
              ul#pushBase {
                padding: 0.5rem;
                height: 150px;
                overflow-y: scroll;
                li {
                  a {
                    display: flex;
                    align-items: center;
                    padding: .5rem;
                    font-size: 0.9rem;
                    border-radius: 0.5rem;
                    background-color: #eee;
                    margin-bottom: 1rem;
                    color: #000;
                    
                    b {
                      color: $col1;
                      font-size: 1.2rem;
                      font-weight: 900;
                      margin-right: 0.5rem;
                    }
                    span.cavab {
                      margin-left: auto;
                      background: $col2;
                      display: inline-block;
                      color: #fff;
                      font-weight: 700;
                      padding: 0.2rem 0.6rem;
                      border-radius: 1.1rem;

                    }
                  }
                }
              }
            }
          }
      }


      #content.load {
        color: #FFF;
      }


      #kateqoriyalar {
        margin-top: 1.5rem;
        margin-bottom: 4rem;
        
        h2 {
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 1rem;
          color: #fff;
        }
        .kateqoriyalar__items {
          
          column-gap: 2rem;
          .json {
            overflow: hidden;
            column-gap: 5%;
            width: 85%;
            justify-content: space-between;
          }
          a.item {
            display: flex;
            align-items: center;
            flex-direction: column;
            .picture {
              width: 55px;
              height: 55px;
              border-radius: 100%;
              overflow: hidden;
              background-color: #fff;
              margin-bottom: 0.4rem;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              &.all{
                background: transparent;
                border: 1px solid #fff;
                box-shadow: none;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              span {
                text-align: center;
                font-size: 0.8rem;
                display: block;
                margin-top: 1.2rem;
                color: #fff;
              }
            }
            p.name {
              font-size: 0.8rem;
              color: #fff;
            }
          }
        }
      }

      #sonKitablar {
        margin-top: 2rem;
        transition: all 0.5s;
        overflow: hidden;
        h2 {
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 1rem;
          color: #fff;
        }
        .newBooks {
          flex-wrap: wrap;
          column-gap: 3.2rem;
          row-gap: 1.5rem;
          min-height: 1px;
          height: 100%;
          max-height: 550px;
          overflow-y: scroll;
          transition: all 0.5s;
          a.item__book {
            width: calc(33% - 2rem);
            height: 50%;
            color: #fff;
            .picture {
              height: calc(100% - 40px);
              width: 100%;
              overflow: hidden;
              box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
              border-radius: 1.5rem;
              margin-bottom: 1rem;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            h3 {
              padding-left: 0.5rem;
              margin-bottom: 0.3rem;
              font-size: 1rem;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            p.auther {
              font-size: 0.8rem;
              padding-left: 0.5rem;
              opacity: 0.8;
              height: 18px;
              overflow: hidden;
            }
          }
        }
      }
    }
}


.main_books {
  width: 65%;
  overflow: hidden;
}
.main_statistika {
  width: 35%;
  padding: 0 0 1rem 1.5rem;
  &>h2 {
    color: #fff;
    text-align: right;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .stat__base {
    background-color: rgba(#fff,1);
    border: 1px solid #fff;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 150px;
    padding: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    h5 {
      color: #222;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding-top: 1rem;
    }
    .bar {
      margin-top: 2.5rem;
      i.default {
        height: 5px;
        width: 100%;
        background-color: #ccc;
        border-radius: 25px;
        display: inline-block;
        opacity: 0.4;
        position: absolute;
        left: 0;
        top: 0;
        span {
          position: absolute;
          right: 0;
          top: -15px;
          font-size: 0.8rem;
          font-style: normal;
          opacity: 0.6;
        }
      }
      i.active {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 5px;
        background: $col2;
        border-radius: 25px;
        transition: $trs;
        span {
          position: absolute;
          right: 5px;
          top: -20px;
          font-size: 1rem;
          font-weight: 900;
          font-style: normal;
          color: #999;
        }
        i {
          position: absolute;
          left: calc(100% - 3px);
          top: -5.5px;
          width: 15px;
          height: 15px;
          background: linear-gradient(to left, #ff416c, #ff4b2b);
          border-radius: 100%;
          &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 100%;
          }
        }
      }

    }
    p.desc {
      font-style: italic;
      font-size: .8rem;
      margin-top: 4rem;
      opacity: 0.2;
    }
  }


  .stat_view {
    background-color: rgba(#fff,1);
    border: 1px solid #fff;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1rem;
    overflow: hidden;
    h5 {
      color: #222;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding-top: 1rem;
      margin-bottom: 1rem;
    }
    ul {
      li {
        display: block;
        border-radius: 1rem;
        padding: 1rem;
        padding-left: 4rem;
        margin-bottom: 1rem;
        i {
          position: absolute;
          left: 15px;
          top: 10px;
          width: 35px;
          height: 35px;
          text-align: center;
          color: #fff;
          background: $col2;
          border-radius: 100%;
          line-height: 35px;
          font-style: normal;
          font-weight: 900;
          font-size: 1.3rem;
        }
        p.auther {
          font-size: .8rem;
        }
        &:first-child {
          background: $col2;
          color: #fff;
          i {
            border: 1px solid #fff;
          }
        }
      }
    }
  }
  a.all-stat {
    background-color: rgba(#000, 0.2);
    border: 3px solid #fff;
    border-radius: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    margin-top: 1rem;
    color: #fff;
  }
}


#content {
  height: 100%;
  &>.flex, #sonKitablar, .newBooks {
    height: 100% !important;
  }
}

.mobMenu {display: none;}


@media (max-width: 1250px) {
  .main_statistika {
    display: none;
  }
  .main_books {
    width: 100%;
  }
  #esas main {
    padding: 2rem 1rem;
    header {
      flex-wrap: wrap;
      nav {
        margin-bottom: 1rem;
        width: 55%;
        ul {
          justify-content: flex-start;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  #esas main {
    flex-basis: calc(100% - 180px);
  }
  #esas #sidebar {
    width: 180px;
    padding: 1.5rem 1.5rem 3rem 0.5rem;
  }
  #esas #sidebar ul.navigation li a {
    font-size: 1rem;
  }
  #esas main header .search form input {
    width: 350px;
  }
  #esas main header {
    justify-content: space-between;
    align-items: center;
  }
  #esas main #kateqoriyalar .kateqoriyalar__items {
    overflow-x: scroll;
  }
  #esas main #sonKitablar .newBooks {
    column-gap: 1.5rem;
    row-gap: 8%;
    justify-content: space-between;
  }

  #pageStatik .main_statistika div[class*=stat_] {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  .panel_v2 {
    width: 100%;
    min-height: 100vh;
    height: auto;
    & > .flex {
      flex-direction: column;
    }
  }
  #esas #sidebar {
    width: 100%;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    z-index: 100;

    ul.navigation {
      display: flex;
      position: fixed;
      transform: translateX(-9999px);
      opacity: 0;

      transition: opacity 0.7s;

      &.active {
        transform: translateX(0);
        opacity: 1;
        top: 100px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 100px);
        background-color: #4f0e0e;
        z-index: 100;
        padding: 32px;
      }
    }

    .logout {
      span.text {display: none;}
    }
  }
  .mobMenu {
    display: block;
    margin-left: 1.5rem;
    margin-right: 1rem;
    button {
      width: 40px;
      height: 30px;
      border: none;
      background: transparent;
      i {
        height: 4px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
        transition: all 0.7s;
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 20px;
        }
      }
      &.active {
        i:nth-child(2) {
          opacity: 0;
        }
        i:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }
        i:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }

  #esas main {
    padding: 15px;
  }
  #esas main header nav {width: 55%;}
  #esas main header nav ul li {
    text-align: center;
    font-size: .7rem;
  }
  .search.flex {
    width: 80%;
    form {width: 100%;}
  }
  #esas main header .search form input {width: 100%;}
  #esas main #sonKitablar .newBooks a.item__book {
    width: 45%;
  }

  body.active {overflow: hidden;}
  #esas main header .push .push__content {
    width: calc(100vw - 30px);
  }
  #adminPages .pagesHeader {
    flex-direction: column;
    row-gap: 1rem;
  }
}