@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url("../../fonts/icon_style.css");
img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: 0;
  z-index: 1;
}

input {
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
body.ovHid {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1240px;
  display: block;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.wrapper {
  z-index: 2;
  background-color: #fff;
}
.wrapper .social_links {
  margin-top: 14rem;
  padding-bottom: 6.5rem;
}
.wrapper .social_links h3 {
  font-size: 1.5625rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  text-align: center;
}
.wrapper .social_links ul {
  justify-content: center;
  -moz-column-gap: 3.3rem;
       column-gap: 3.3rem;
}
.wrapper .social_links ul li a i::before {
  font-size: 5rem;
  color: #391F00;
}

header {
  padding: 15px 0;
  background-color: #fff;
  z-index: 10;
}
header .flex {
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 2.625rem;
}
header .logo a img {
  max-height: 100%;
}
header nav ul {
  -moz-column-gap: 1.3125rem;
       column-gap: 1.3125rem;
}
header nav ul li a {
  color: #241400;
  font-size: 0.8rem;
}
header nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #E16A00;
  transition: all 0.8s;
}
header nav ul li a.active {
  color: #E16A00;
  font-weight: 700;
}
header nav ul li a.active::before {
  width: 100%;
}
header nav ul li a:hover::before {
  width: 100%;
}
header .joinus a {
  color: #241400;
}
header .joinus a i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
header .joinus a span {
  font-size: 0.9rem;
}
header .joinus a:hover {
  color: #E16A00;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  z-index: 9;
}
.modal.modal-none {
  transform: translateY(9999px);
  visibility: hidden;
  opacity: 0;
}
.modal.modal-active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.modal .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal .modal-content {
  background-color: #fff;
  width: 100%;
  max-width: 675px;
  padding: 70px 55px 35px;
  z-index: 2;
}
.modal .modal-content h2 {
  text-align: center;
  font-size: 2.75rem;
  margin-bottom: 1.5rem;
}
.modal .modal-content form {
  width: 100%;
}
.modal .modal-content form label {
  display: block;
  margin-bottom: 1.1rem;
}
.modal .modal-content form label input {
  width: 100%;
  border: 1px solid #CECECE;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}
.modal .modal-content form label input:focus {
  border-color: #E16A00;
}
.modal .modal-content form input[type=submit] {
  margin-top: 3rem;
  width: 100%;
  background-color: #E16A00;
  text-align: center;
  padding: 1.5rem 0;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #391F00;
  color: #fff;
  font-size: 18px;
  padding: 4rem 0 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer > .container > .flex {
  justify-content: space-between;
}
footer .footer__menu > .flex {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
footer .footer__menu > .flex .menu__item h4 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.5rem;
}
footer .footer__menu > .flex .menu__item ul li {
  margin-bottom: 0.3rem;
}
footer .footer__menu > .flex .menu__item ul li a {
  color: #fff;
  font-size: 13px;
}
footer .footer__bottom {
  padding: 3rem 0 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 100;
}

.mobile-burger {
  display: none;
}

@media (max-width: 776px) {
  header .flex {
    justify-content: flex-start;
  }
  .mobile-burger {
    display: block;
  }
  .mobile-burger button {
    width: 30px;
    height: 23px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .mobile-burger button i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 0.5s;
  }
  .mobile-burger button i:nth-child(2) {
    top: 9px;
  }
  .mobile-burger button i:nth-child(3) {
    top: 18px;
  }
  .mobile-burger button.active i:nth-child(1) {
    opacity: 0;
  }
  .mobile-burger button.active i:nth-child(2) {
    transform: rotate(45deg);
    top: 10px;
    left: 0;
  }
  .mobile-burger button.active i:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
    left: 0;
  }
  header .joinus {
    margin-left: auto;
    margin-right: 1rem;
  }
  header.openMenu {
    position: fixed;
  }
  header.openMenu > .container {
    position: static;
  }
  header.openMenu > .container > .flex {
    position: static;
  }
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
  }
  nav#headerMenu {
    position: fixed;
    left: 0;
    top: 72px;
    z-index: 9;
    background-color: #720418;
    transform: translateY(-9999px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
  }
  nav#headerMenu.open {
    transform: translateY(0);
    visibility: visible;
    height: calc(100vh - 72px);
    width: 100vw;
    opacity: 1;
    padding: 3rem;
  }
  nav#headerMenu.open ul {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2rem;
  }
  nav#headerMenu.open ul li a {
    font-size: 1.5rem;
    color: #fff;
  }
  footer {
    padding: 2rem 0 0;
  }
  footer > .container > .flex {
    flex-direction: column;
  }
  footer > .container > .flex .logo {
    margin-bottom: 1rem;
  }
  footer .footer__menu > .flex {
    flex-wrap: wrap;
    row-gap: 1.4rem;
  }
  footer .footer__menu > .flex .menu__item {
    width: 38%;
  }
  footer .footer__bottom {
    font-size: 0.6rem;
  }
}
@media (max-width: 450px) {
  .wrapper .social_links ul li a i::before {
    font-size: 3rem;
  }
}
.joinUs_finish .avatar {
  justify-content: center;
  margin-bottom: 2rem;
}
.joinUs_finish .avatar img {
  width: 135px;
  height: 135;
}
.joinUs_finish p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.joinUs_finish p span {
  color: #999;
}
.joinUs_finish a {
  margin-top: 3rem;
  display: inline-block;
  background-color: #E16A00;
  border-radius: 2rem;
  padding: 10px 10px;
  color: #fff;
}
.joinUs_finish a span {
  margin-right: 5px;
}

section#contactPage {
  padding-top: 7rem;
}
section#contactPage h1 {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}
section#contactPage form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section#contactPage form input {
  border: 1px solid #CECECE;
  padding: 1.6rem 2.4rem;
  color: #797667;
  font-size: 1.4375rem;
  width: 100%;
  max-width: 36rem;
  margin-bottom: 2rem;
  font-family: Crimson Text;
}
section#contactPage form textarea {
  width: 100%;
  border: 1px solid #CECECE;
  padding: 1.6rem 2.4rem;
  color: #797667;
  font-size: 1.4375rem;
  font-family: Crimson Text;
  margin-bottom: 5rem;
}
section#contactPage form button {
  width: 100%;
  max-width: 38rem;
  background-color: #E16A00;
  padding: 1rem 0;
  color: #FFF;
  text-align: center;
  font-family: Crimson Text;
  font-size: 1.875rem;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 1100px) {
  section#contactPage form input {
    width: 100%;
    max-width: 100%;
  }
}/*# sourceMappingURL=style-contacs.css.map */