@import url('../../fonts/icon_style.css');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: 0;
  z-index: 1;
}

input {
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1240px;
  display: block;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.wrapper {
  z-index: 2;
  background-color: #fff;
}

header {
  padding: 15px 0;
}

header .flex {
  justify-content: space-between;
  align-items: center;
}

header .logo {
  height: 2.625rem;
}

header .logo a img {
  max-height: 100%;
}

header nav ul {
  -moz-column-gap: 1.3125rem;
  column-gap: 1.3125rem;
}

header nav ul li a {
  color: #241400;
  font-size: 0.8rem;
}

header nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #E16A00;
  transition: all 0.8s;
}

header nav ul li a.active {
  color: #E16A00;
  font-weight: 700;
}

header nav ul li a.active::before {
  width: 100%;
}

header nav ul li a:hover::before {
  width: 100%;
}

header .joinus a {
  color: #241400;
}

header .joinus a i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

header .joinus a span {
  font-size: 0.9rem;
}

header .joinus a:hover {
  color: #E16A00;
}

.back-btn {
  padding: 5px;
  padding-left: 10px;
  padding-right: 25px;
  margin-top: 3rem;
  margin-bottom: 65px;
  background-color: #E16A00;
  color: #fff;
  font-weight: 900;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.year {
  padding: 5px 20px;
  font-weight: 700;
  background-color: #2F80ED;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.about__textContent {
  flex-basis: 70%;
  margin-right: 5rem;
}

.about__textContent h2 {
  color: #241400;
  font-weight: 700;
  font-size: 2.1875rem;
  margin-top: 1rem;
}
.date_and_auther {
  margin: 0;
  align-items: center;
  column-gap: 1rem;
}
.date_and_auther  h2 {
  margin: 0;
  font-size: 1.4rem;
}
.date_and_auther span.date {
  opacity: 0.5;
  font-size: 0.8rem;
}
.about__textContent h3 {
  margin-bottom: 10px;
  color: #241400;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.about__textContent h4 {
  color: #241400;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 43.16px;
  margin-bottom: 2rem;
}

.about__textContent p {
  color: #241400;
  line-height: 35.31px;
}

.date_and_auther {
  align-items: center;
}
/* input  */

#addCommentForm {
  width: 100%;
  display: flex;
  height: 60px;
}
#addCommentForm  input[name="commentContent"] {
  width: 90%;
  padding: 1.3rem 2.4rem;
  height: 100%;
  color: #232323;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 0.3125rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -10px;
}
.inputsend {
  width: 100%;
  display: flex;
  margin-top: 7rem;
  margin-bottom: 3rem;
}


.commentsending {
  display: flex;
  align-items: center;
}


.inputsend .comment-send {
  padding: 1rem;
  background-color: #E16A00;
  color: #fff;
  border: #E16A00;
  border-radius: 0.3125rem;
  cursor: pointer;
}
.inputsend .comment-send span::before {
  font-size: 2rem;
}

/* input son */

.anonim-comment {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1.3rem 1rem;
  margin-bottom: 3.7rem;
}

.about__picture {
  flex-basis: 30%;
}
.about__picture  img {
  width: 100%;
  height: 100%;
  max-height: 550px;
  object-fit: cover;
}
.new {
  background-color: #EB5757;
  color: #fff;
  font-weight: 900;
  line-height: 23.54px;
  padding: 5px 25px;
  position: relative;
  top: 2%;
  left: 72%;
  z-index: 9;
  border-radius: 5%;
}

.links {
  margin-left: 40%;
}

.links .links-items {
  cursor: pointer;
}

@media (max-width: 510px) {

  .new {
    display: none;
  }
}



.modal {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  z-index: 9;
}

.modal.modal-none {
  transform: translateY(9999px);
  visibility: hidden;
  opacity: 0;
}

.modal.modal-active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.modal .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal .modal-content {
  background-color: #fff;
  width: 100%;
  max-width: 675px;
  padding: 70px 55px 35px;
  z-index: 2;
}

.modal .modal-content h2 {
  text-align: center;
  font-size: 2.75rem;
  margin-bottom: 1.5rem;
}

.modal .modal-content form {
  width: 100%;
}

.modal .modal-content form label {
  display: block;
  margin-bottom: 1.1rem;
}

.modal .modal-content form label input {
  width: 100%;
  border: 1px solid #CECECE;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}

.modal .modal-content form label input:focus {
  border-color: #E16A00;
}

.modal .modal-content form button {
  margin-top: 3rem;
  width: 100%;
  background-color: #E16A00;
  text-align: center;
  padding: 1.5rem 0;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #391F00;
  color: #fff;
  font-size: 18px;
  padding: 4rem 0 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer>.container>.flex {
  justify-content: space-between;
}

footer .footer__menu>.flex {
  -moz-column-gap: 5rem;
  column-gap: 5rem;
}

footer .footer__menu>.flex .menu__item h4 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

footer .footer__menu>.flex .menu__item ul li {
  margin-bottom: 0.3rem;
}

footer .footer__menu>.flex .menu__item ul li a {
  color: #fff;
  font-size: 13px;
}

footer .footer__bottom {
  padding: 3rem 0 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 100;
}

/*# sourceMappingURL=style-book-page.css.map */

@media (max-width: 998px) {
  .about__textContent {
    margin-right: 1rem;
  }
  .back-btn {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .about__picture {
    display: none;
  }
}
